.container { 
	height: 100vh;
}

.main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	

	min-height: 100vh;
	background-color: #007849
}

.imgHomeRecomendation {
	display: flex;
	align-items: center;
}

.link {
	text-decoration: none;
	color: white;
	text-align: center;
}

	